.dropdown-menu .nav-link{
  //color:#333!important
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,255,255);
}

.navigation.bg-secondary{
  background: linear-gradient(to top, #087cb0 0%, #196f97 100%);
}
.navigation.bg-secondary nav{
  //height:150px;
}
.navbar-brand{
  //height:150px;
}
.bg-info-top{
  background: $sea-green;
}
.top-nav{
  border-radius: 0;
  padding:0;
  display: flex;
}
.top-nav li a {
  font-size:0.9rem;
  color:$white;
}
.navbar-nav .list-group-item,
.navbar-nav .list-group-item:first-child,
.navbar-nav .list-group-horizontal .list-group-item:first-child{
  border-radius:0!important;
  padding:0;
  border-left:0;
}
.navbar-nav .list-group-item{
  border:none;
  border-right: 1px solid $gray-light;
}
//.navbar-brand img{
//  width:50px;
//  height: auto;
//}

.navbar-nav .list-group-item a.nav-link{
  color:$white;
  padding-right: $nav-link-padding;
  padding-left: $nav-link-padding;
}
.navbar-dark .navbar-nav.top .nav-link{
  color:$gray-100;
}
.navbar-nav .list-group-item a.nav-link:hover{
  color:$white;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  80% { transform: rotate(0deg); }
  85% { transform: rotate(5deg); }
  95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

img.chat {
  display: inline-block;
  animation: wiggle 2.5s infinite;
}
img.chat:hover {
  animation: none;
}

.nav-icon:hover {
  filter: invert(0.04) sepia(1) saturate(9.8) hue-rotate(331.2deg) brightness(0.91);
}
.navbar-nav a.nav-link:hover{
  //filter: invert(0.04) sepia(1) saturate(9.8) hue-rotate(331.2deg) brightness(0.91);
}

.navend a:hover, .navend a:hover{
  filter: invert(0.04) sepia(0) saturate(9.8) hue-rotate(244.2deg) brightness(0.91)
}
.page-heading{text-transform: capitalize }
.dropdown-menu.show{
  background:#30435a91;
  margin-top:0;
  padding:10px;
}
.dropdown-menu.show .nav-link:hover{
  color:#fefefe;
}

.dropdown-menu.show .nav-link:hover{
  color:$white;
}
.direct-email, .direct-dial{
  color:$white;
}

//direct cta end
.navend{
  //flex-direction: column;
  //display: flex;
  //align-items: flex-end;
  //font-size: 12px;//$font-size-sm;
  //color:$white;
}
@media (min-width: 0px) {
  .navend a,.navend span{

    font-size:1.2rem
  }
  .navend a{
    color:$yellow;
  }
  .navbar-brand{
    padding:0;
    max-width: 230px;
  }
  .navbar-brand img{
    //margin-left: -100px;
    //width:70%;
    height: auto;
  }

  //top nav
  .top-nav{
    justify-content: space-evenly;
  }
  .top-nav li a{
    padding:5px 0;
    color: #EEEEEE;
  }
  .top-nav .nav-text{
    display: none;
  }
  .top-nav .fa {
    font-size: 2em;
  }
  .top-nav {
    justify-content: space-between!important;
  }
  //end

  // main nav
  .navbar-nav.list-group-horizontal{
    flex-direction: column;
    width: 100%;
    //text-align: left;
  }

  .navbar-nav .list-group-item{
    border-bottom: 1px solid #86a8d0bd;
    border-right:none;
  }
  .navbar-nav .list-group-item a.nav-link{
    margin-top: -8px;
  }
  .navbar-nav .list-group-item.chat{
    background-color: #00b0eb!important;
  }
  //end
}
@media(min-width:608px){
  li.chat.order-1{
    order: 3!important;
  }
  //top nav
  .top-nav .nav-text{
    display: inline;
  }
  .top-nav .fa {
    font-size: 1.2em;
  }
  .top-nav {
    justify-content: center!important;
  }
  //end

  //main nav
  .navbar-nav.list-group-horizontal{
    flex-direction: row;
    text-align: center;
    width: initial;
  }
  .navbar-nav .list-group-item a.nav-link{
    font-size:0.8rem;
  }
  //end
}




@media(min-width:768px){


  .navbar{
    padding:0;
  }

  .navbar-brand img{
    width:100%;
    height: auto;
  }

  //main menu
  .navbar-nav.list-group-horizontal .list-group-item + .list-group-item,
  .navbar-nav .list-group-item{
    border-bottom: 0px solid #86a8d0bd;
    border-left-width: 1px;
    border-left:1px solid #86a8d0bd;
  }

  //end

  a#chat{
    //background: #fff;
    color:$white;//$blue-dark;
  }

}
@media (min-width:990px){
  .navend span{
    color:$white;
    font-size:0.8rem
  }
  .navend a{
    font-size:1rem
  }
}
@media (min-width: 1200px) {
  .navbar-brand img{
    //margin-left: -100px;
  }


  //main nav
  .navbar-nav .list-group-item a.nav-link{
    font-size:1.2rem;
    padding: 1rem;
  }
  //end
}